* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


                    /* HEADER */


.logo {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.logo img {
    height: auto;
    width: 50%;
    margin-bottom: 6%;
    margin-top: 6%;   
}

.bloc-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 80px;
}

.loca-saisie {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.localisation i {
    font-size: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.cadre-saisie {
    width: 200px;
}

.cadre-saisie input {
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    color: black;
    border: none;
    outline: none;
    margin-left: 10px       
}

.localisation h3 {
    font-size: 16px;
}

.cadre-saisie {
    display: flex;
    border: none;
}

.bloc-titre {
    background-color: #f9f9f9;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titre h1 {
    font-size: 30px;
    width: 78%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 10%;
}

.titre p {
    font-size: 18px;
    width: 85%;
    text-align: center;
    font-weight: 300;
}

.bloc-explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
}

.bouton-explorer {
    background: linear-gradient(#FF79DA , #9356DC);
    font-size: 1em;
    color: white;
    border-radius: 30px;
    padding: 4%;
    margin-bottom: 15%;
    box-shadow: 0 0 20px #c9c9c9;
}

.bouton-explorer:hover {
    background: linear-gradient(#ff8cde , #986fc9);
    box-shadow: 0 0 15px #1b1b1b;
    cursor: pointer;
}


                /* MENU NAV */
  

.bloc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;   
}


.titre-nav {
    font-size: 18px;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 15%;
}                

.bloc-123 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    margin-bottom: 5%;
    align-items: stretch;    
}

.bloc-123:hover {
    cursor: pointer;
}

.item-123:hover {
    background-color: #9256dc2f;
}

.item-123:hover .logo-123 {
    color: #9356DC;
}

.item-123 {
    background-color: #f9f9f9;
    box-shadow: 0 0 15px #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    border-radius: 30px;
    padding-top: 8%;
    padding-bottom: 8%;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.icone-123 {
    margin-left: -10px;
    display: flex;
    color: white;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    align-items:center;
    justify-content: center;
    border-radius: 33.33px;
    font-size: 13px;   
}

.logo-123 {
    display: flex;
    color: #8e8d8d;
    font-size: 28px;
    margin-left: 10%;
    margin-right: 10%;
}

.text-123 {
    font-size: 17px;
    font-weight: 600;
    color: black;
}


                    /* RESTAURANT */


.restaurant {
    margin-top: 10%;
}

.bloc-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
}

.bloc-restaurant h2 {
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.bloc-vignette {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: stretch;
}

.vignette-restaurant {
    position: relative;
    width: 90%;  
    background-color: white;  
    border-radius: 20px; 
    margin-bottom: 5%;
    margin-right: 1%;
    margin-left: 1%;
    box-shadow: 0 0 20px #c9c9c9;
}

.vignette-restaurant:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.last-vignette {
    margin-bottom: 60px;
}

.vignette-restaurant a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.img-restaurant {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
}

.info-restaurant {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.info-restaurant h3 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 1%;
    margin-top: 10%;
}

.info-restaurant p {
    font-size: 16px;
    margin-bottom: 10%;
}

.info-restaurant i {
    font-size: 28px;
}


                    /* CARD NOUVEAU */


.nouveau {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #99E2D0;
    height: 30px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 0.5px #1e1e1e;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3%;
}

.nouveau p {
    color:#15896c;
    font-weight: 600;
}


            /* FOOTER */


.footer {
    background-color: rgb(62, 62, 62);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titre-footer p {
    font-family: Shrikhand;
    color: white;
    margin-bottom: 20px;
}      

.bloc-icone-footer{
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.icone-footer1 {
    margin-right: 16px;
}

.icone-footer2 {
    margin-right: 10px;
}


                    /* LOADER ANIM*/


.loader { 
    background: linear-gradient(#FF79DA , #9356DC);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: light 3s forwards;
    z-index: 1000;
}

.lettre {
    color: #99E2D0;
    font-family: Shrikhand;
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 150px;
    animation: light 1.5s linear infinite;
}

@keyframes light {
    0% {
        transform: scale(1);
        opacity: 100%;
        text-shadow: 0 0 15px #1e1e1e;
        
    }

    75% {
        transform: scale(1);
        opacity: 100%;
        color: #99E2D0;
        text-shadow: none;
    }

    90% {
        transform: scale(1);
        opacity: 100%;
        color: #99E2D0;
        text-shadow: none;
    }

    100% {
        transform: scale(0);
        opacity: 0%;
        color: #9bffe6;
        text-shadow: 0 0 7px #9bffe6;
        visibility: hidden;
    }
}

.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.lettre:nth-child(4) {
    animation-delay: 0.4s;
}

.lettre:nth-child(5) {
    animation-delay: 0.5s;
}

.lettre:nth-child(6) {
    animation-delay: 0.6s;
}

.lettre:nth-child(7) {
    animation-delay: 0.7s;
}

.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

.lettre:nth-child(9) {
    animation-delay: 0.9s;
}

.lettre:nth-child(10) {
    animation-delay: 1s;
}


               /* ANIM LIKE CHECKBOX */


.bloc-bouton-jaime i {
    position: absolute;
    right: 5%;
    top: 80%;
}               

.checked {
    color: transparent;
    background-image: linear-gradient(#FF79DA , #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.info-restaurant:hover .checked {
    opacity: 1;
    transform: scale(1.1);
}


                /* RESPONSIVE DESKTOP */


@media screen and (min-width:769px){


                    /* HEADER */


    .logo img {
        width: 350px;
        margin-top: 2%;
        margin-bottom: 2%;   
    }

    .bloc-localisation {
        background-color: #ffffff;
        height: 80px;
    }

    .localisation-container {
        background-color: #f2f2f2;
        height: 70px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 80%;
        padding-bottom: 10px;
        border-radius: 20px 20px 0 0;
    }

    .cadre-saisie input {
        width: 100%;
    }

    .localisation i { 
        margin-right: 20px;
    }

    .bloc-titre {
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .titre h1 {
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .titre p {
        font-size: 28px;
        width: 100%;
    }

    .bloc-explorer {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .bouton-explorer {
        border-radius: 50px;
        padding: 30px;
        margin-bottom: 0;
        font-size: 25px;
    }

    .titre-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f9f9f9;
        height: 350px;
        width: 80%;
    }

    
                    /* MENU NAV */


    .titre-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        margin-left: 0;
        margin-bottom: 5%;
        margin-top: 5%;
    }    

    .all-bloc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .bloc-container {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: stretch;
        width: 80%;
    }

    .bloc-123 {
        width: 30%;
        margin-bottom: 0;    
    }

    .item-123 {
        width: 100%;
    }

    .icone-123 {
        margin-left: -13px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        font-size: 16px;   
    }

    .logo-123 {
        display: flex;
        color: #8e8d8d;
        font-size: 31px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-123 {
        text-align: center;
        font-size: 20px;
    }  

    .logo-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }


                        /* RESTAURANT */


    .restaurant {
        margin-top: 150px;
    }

    .bloc-restaurant h2 {
        text-align: center;
        font-size: 40px;
        padding-left: 0;
        margin-bottom: 60px;
        margin-top: 40px;
    }

    .bloc-restaurant{
        display: flex;
        justify-content: center;
        align-items: center;    
        background-color: #ffffff;   
    }

    .restaurant-container {
        width: 80%;
        background-color: #f2f2f2;   
    }

    .vignette-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 60px;    
    }

    .bloc-vignette {
        width: 45%;
    }

    .vignette-restaurant {
        width: 100%;      
    }

    .info-restaurant h3 {
        font-size: 20px;
    }

    .info-restaurant p {
        font-size: 20px;
    }   


                /* FOOTER */


    .footer {
        background-color: white;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-container {
        width: 80%;
        height: 150px;
        background-color: rgb(62, 62, 62);
        border-radius: 0 0 25px 25px;
    }

    .icone-footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .titre-footer p {
        font-family: Shrikhand;
        font-size: 30px;
        color: white;
        margin-bottom: 35px;
        margin-top: 25px;
        text-align: center;
    }                  
}                

